*.class
.metadata
bin/
tmp/
.settings/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
